# Dependency directories
node_modules/
dist/

# Cloudflare Worker
.wrangler/
**/.env
**/*.log

# Editor files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
